.App {
  text-align: center;
  background-color: #e4f3e4;
  width: 100vw;
  padding: 0px;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-family: Cochin;
  font-size: 70px;
  margin: 0px;
  padding: 20px;
}

h2 {
  font-family: Cochin;
  font-size: 30px;
}

h3 {
  font-family: Chochin;
  font-size: 25px;
}

p {
  font-family: Cochin;
  font-size: 22px;
}

button {
  font-family: Cochin;
  font-size: 20px;
}

select,
option {
  font-family: Cochin;
  font-size: 18px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a3c2aa;
}

#icon {
  /* width: 5%; */
  height: 90px;
  padding: 20px;
}

#body {
  display: flex;
  flex-direction: row;
}

#actions {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  width: 73%;
  padding: 20px;
}

#sort {
  height: 20%;
}

#inventory {
  width: 73%;
  padding: 20px;
}

#plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 20px;
}

#cart {
  width: 27%;
  background-color: white;
  text-align: left;
  padding: 20px;
  height: 100vh;
}

#plant-image {
  height: 225px;
}

.PlantItem {
  background-color: white;
  height: 525px;
  width: 27%;
}

.add-button {
  width: 30%;
  height: 9%;
  margin-right: 15px;
}

.cart-item {
  display: flex;
  display: row;
  height: 40px;
  column-gap: 10px;
  align-items: center;
}

.cart-button {
  /* width: 30px; */
}
